################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
Hummingbird.Documentation/.vs/Hummingbird.Doc/v15
Hummingbird.Documentation/bin/PRO_DEBUG
Hummingbird.Documentation/obj/Debug
docs/
